services:
  base.actions_provider:
    class: AppBundle\Action\BaseActionProvider
    parent: vardius_crud.action.provider

  crud_controller.users:
    class: "%vardius_crud.controller.class%"
    factory: ["@vardius_crud.controller.factory", get]
    arguments: ['AppBundle:User', /users, '@form.type.users', null, null, '@user.actions_provider']
    tags:
        - { name: vardius_crud.controller }

  user.actions_provider:
    class: AppBundle\Action\UserActionProvider
    parent: vardius_crud.action.provider

  users.list_view:
    class: AppBundle\ListView\UserListViewProvider
    parent: vardius_list.list_view.provider

  form.type.users:
      class: AppBundle\Form\Type\UserType
      tags:
          - { name: form.type }

  provider.users_filter:
      class: AppBundle\Filter\UserFilterProvider
      parent: vardius_list.filter.provider

  form.type.users_filter:
      class: AppBundle\Form\Type\Filter\UserFilterType
      tags:
          - { name: form.type }

  crud_controller.files:
    class: "%vardius_crud.controller.class%"
    factory: ["@vardius_crud.controller.factory", get]
    arguments: ['AppBundle:File', /files, '@form.type.files', null, null, '@base.actions_provider']
    tags:
        - { name: vardius_crud.controller }

  files.list_view:
    class: AppBundle\ListView\FileListViewProvider
    parent: vardius_list.list_view.provider

  form.type.files:
      class: AppBundle\Form\Type\FileType
      tags:
          - { name: form.type }

  provider.files_filter:
      class: AppBundle\Filter\FileFilterProvider
      parent: vardius_list.filter.provider

  form.type.files_filter:
      class: AppBundle\Form\Type\Filter\FileFilterType
      tags:
          - { name: form.type }

